<nav class=" barras navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbarr">
          <div class="container">
            <a class="navbar-brand" href="home.html.erb">

            <%= link_to image_tag("logo.png", width: "40%", alt: "logo"),
            '/' %>
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> MENU
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="index.html" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">AMOAVE</a></li>
            <li class="nav-item"><a href="causes.html" class="nav-link">COMUNIDADE</a></li>
            <li class="nav-item"><a href="blog.html" class="nav-link">ESTUDANTES</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">CONTACTO</a></li>
          </ul>
        </div>
      </div>
    </nav>




<div class="formula container mx-px-5">
  <!-- <form id="contact" action=""> -->
    <div class="registo d-flex justify-content-center">
      <h3 class="text-success"><b>REGISTO</b></h3>
    </div>
    <div class="arg d-flex justify-content-center">
      <p class="text-justify">A amoave é uma associação que visa garantir a coesão dos moçambicanos em Aveiro; facilitar a integração e promover o acompanhamento de Moçambicanos Recém-chegados a Aveiro; garantir a promoção de Moçambique em Aveiro e Portugal; entre outros.
      <br>
      Por um Moçambique mais unido e forte.
      <br>
      <b>Atenção:</b> Os seus dados não serão usados ou partilhados sem a sua autorização.
      <br>
        Partilhe o link desse formulário a outros Moçambicanos.  </p>
    </div>
    <fieldset>

          <%= simple_form_for @user  do |f| %>
            <%= f.input :name, label: 'Nome Completo'%>
             <%= f.input :gender, collection: [:Femenino, :Masculino], include_blank: "Escolha o género"%>


            <%= f.input :naturality, collection: [:Cabo_Delgado, :Gaza, :Inhambane, :Manica,  :Maputo_província, :Maputo_cidade, :Nampula, :Niassa, :Sofala, :Tete, :Zambézia], include_blank: "Escolha a província"%>

            <%= f.input :cellphone, label: 'Telemóvel'%>
            <%= f.input :email, label: 'Email' %>
            <%= f.input :residence, label: 'Residência actual', hint: 'ex: Rua de São Tiago nº 25'%>
            <%= f.input :cp, label: 'Código Postal' %>
            <%= f.input :city, label: 'Cidade de residência'%>
            <%= f.label :country, label: 'Pais de Residência'  %>
            <%= f.country_select :country, {priority_countries: ["MZ", "PT"], include_blank: "Seleciona o País"}, class: 'form-control', label: 'País de residência actual' %>
            <%= f.input :dob, as: :date, start_year: Date.today.year - 10,
                                          end_year: Date.today.year - 75, discard_day: true,
                                          order: [:month, :year], label: 'Data de Nascimento' %>


            <%= f.input :occupation, label: 'Ocupação atual'%>

            <%= f.input :emergency, label: 'Contacto de Emergência'%>
            <%= f.input :comentary, label: 'Comentários em Relação ao Site/AMOAVE' %>

          <div class="row justify-content-center">
            <div class="form-actions col-xs-12 col-sm-4 col-sm-offset-4 my-5">
            <%= f.button :submit, "Registar", class: 'btn btn-primary btn-lg btn-block' %>
            </div>
          </div>

          <% end %>

    </fieldset>
  </form>
</div>


<br>
<br>

<footer class="ftco-footer ftco-section bg-info">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">AMOAVE.</h2>
          <p>Associação dos Moçambicanos
Residentes em Aveiro</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="https://twitter.com"><span class="fab fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="https://facebook.com"><span class="fab fa-facebook-f"></span></a></li>
            <li class="ftco-animate"><a href="https://www.instagram.com"><span class="fab fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Informacao</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Empregos</a></li>
            <li><a href="#" class="py-2 d-block">Bolsas de Estudos</a></li>
            <li><a href="#" class="py-2 d-block">Oportunidades de Estágios</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Estudantes</a></li>
            <li><a href="#" class="py-2 d-block">Comunidade</a></li>
            <li><a href="#" class="py-2 d-block">Contactos</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Alguma Questão?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Aveiro, Portugal</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+351 932281760</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">amoave.direcao@yahoo.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright ©2019 All rights reserved| AMOAVE <i class="fas fa-heart" style="color:#BC1421"></i>
        </p>
      </div>
    </div>
  </div>
</footer>
