<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="home.html.erb">

          <%= link_to image_tag("logo.png", width: "40%", alt: "logo"),
          '/' %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
          </button>



            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "HOME", root_path, class: 'nav-link'%> </li>

                <li class="nav-item"><%= link_to "AMOAVE", pages_amoave_path, class: 'nav-link'%> </li>
                <li class="nav-item"><%= link_to "COMUNIDADE", pages_comunidade_path, class: 'nav-link'%> </li>
                <li class="nav-item"><%= link_to "ESTUDANTES", pages_estudantes_path, class: 'nav-link'%> </li>
                <li class="nav-item"><%= link_to "CONTACTO", pages_contacto_path, class: 'nav-link'%> </li>
              </ul>
            </div>
          </div>
        </nav>



 <div class="container second-portion">
  <div class="row">
        <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">MAIL & WEBSITE</h3>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp gondhiyahardik6610@gmail.com
              <br>
              <br>
              <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com
            </p>

          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">CONTACT</h3>
              <p>
              <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
              <br>
              <br>
              <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp  (+91)-756706XXXX
            </p>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="info">
            <h3 class="title">ADDRESS</h3>
              <p>
               <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot
               "Shree Krishna Krupa", Rajkot - 360001.
            </p>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
    <!-- /Boxes de Acoes -->

    <!--My Portfolio  dont Copy this -->

  </div>
</div>

</div>
