
  <head>
     <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  </head>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="home.html.erb">

          <%= link_to image_tag("logo.png", width: "40%", alt: "logo"),
          '/' %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="true" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
          </button>



            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><%= link_to "HOME", root_path, class: 'nav-link'%> </li>

                <li class="nav-item"><%= link_to "AMOAVE", pages_amoave_path, class: 'nav-link'%> </li>
                <li class="nav-item"><%= link_to "COMUNIDADE", pages_comunidade_path, class: 'nav-link'%> </li>
                <li class="nav-item"><%= link_to "ESTUDANTES", pages_estudantes_path, class: 'nav-link'%> </li>
                <li class="nav-item"><%= link_to "CONTACTO", pages_contacto_path, class: 'nav-link'%> </li>
              </ul>
            </div>
          </div>
        </nav>

<h1>Página em actualização</h1>


<div class="row ">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="show-card">
      <div class="content-background">
        <div class="btn-back">
        <%= link_to "BACK TO HOME", root_path, class: 'btn btn-outline-warning'%>
        </div>
      </div>
    </div>
  </div>
</div>





        <footer class="ftco-footer ftco-section bg-info text-info">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">AMOAVE.</h2>
                  <p>Associação dos Moçambicanos
    em Aveiro</p>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                    <li class="ftco-animate"><a href="https://twitter.com"><span class="fab fa-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="https://facebook.com"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="ftco-animate"><a href="https://www.instagram.com"><span class="fab fa-instagram"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                  <h2 class="ftco-heading-2">Informação</h2>
                  <ul class="list-unstyled">
                    <li><a href="#" class="py-2 d-block">Empregos</a></li>
                    <li><a href="#" class="py-2 d-block">Bolsas de Estudos</a></li>
                    <li><a href="#" class="py-2 d-block">Oportunidades de Estágios</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                 <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Links</h2>
                  <ul class="list-unstyled">
                     <li class="nav-item"><%= link_to "AMOAVE", pages_amoave_path, class: 'nav-link'%> </li>
                    <li><a href="/pages/estudantes.html" class="py-2 d-block">Estudantes</a></li>
                    <li><a href="/pages/comunidade.html" class="py-2 d-block">Comunidade</a></li>
                    <li><a href="/pages/contacto.htmls" class="py-2 d-block">Contactos</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Alguma Questão?</h2>
                  <div class="block-23 mb-3">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">Aveiro, Portugal</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+351 932281760</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">amoave.direcao@yahoo.com</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">

                <p>
                  Copyright ©2019 All rights reserved | AMOAVE <i class="fas fa-heart" style="color:#BC1421"></i>
                </p>
              </div>
            </div>
          </div>
        </footer>
