



    
          <!-- Load Bootstrap -->
          <link rel="stylesheet" 
                href= 
  "https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" 
                integrity= 
  "sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" 
                crossorigin="anonymous" /> 
          <script src= 
  "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
                  integrity= 
  "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
                  crossorigin="anonymous"> 
        </script> 
          <script src= 
  "https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" 
                  integrity= 
  "sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
                  crossorigin="anonymous"> 
        </script> 
      </head> 
    
      <style> 
          // Customizing the carousel for white background 
          .carousel-indicators .active { 
              background-color: green; 
          } 
    
          .carousel-indicators li { 
              background-color: burlywood; 
          } 
      </style> 
    
      <body style="text-align: center;"> 
          <div class="container mt-3"> 
             <!--  <h1 style="color: green;"> 
                  Moçambique Joga em Aveiro 
              </h1> 
     -->
              <div id="GFG"
                   class="carousel slide" 
                   data-ride="carousel"> 
                  <!-- Indicators -->
                  <ul class="carousel-indicators"> 
                      <li data-target="#GFG" 
                          data-slide-to="0" 
                          class="active"></li> 
                      <li data-target="#GFG"
                          data-slide-to="1"></li> 
                      <li data-target="#GFG" 
                          data-slide-to="2"></li> 
                  </ul> 
    
                  <!-- The slideshow -->
                  <div class="carousel-inner"> 


                      <div class="carousel-item"> 
                         <%= video_tag("1.mp4", :alt => "GFG", :size => "800x600", :controls => true, autoplay: :autoplay, loop: :loop, muted: :false, class: "home_video") %>
                      
                          <div class="carousel-caption"> 
                              <h3 class="text-warning"> 
                                  Treinamento Guarda Redes
                              </h3> 
                          </div> 
                      </div> 


                      <div class="carousel-item active"> 
                          <%= image_tag("2.jpg", :alt => "GFG", :size => "800x600") %>
                          <div class="carousel-caption"> 
                              <h3 class="text-warning"> 
                                  Image 1 
                              </h3> 
                          </div> 
                      </div> 
    
                      <div class="carousel-item"> 
                          <%= image_tag("3.jpg", :alt => "GFG", :size => "800x600") %>
                          <div class="carousel-caption"> 
                              <h3 class="text-warning"> 
                                  Image 2 
                              </h3> 
                          </div> 
                      </div> 
    
                      <div class="carousel-item"> 
                         <%= image_tag("4.jpg", :alt => "GFG", :size => "800x600") %>
    
                          <div class="carousel-caption"> 
                              <h3 class="text-warning"> 
                                  Image 3 
                              </h3> 
                          </div> 
                      </div> 

                      <div class="carousel-item"> 
                         <%= image_tag("5.jpg", :alt => "GFG", :size => "800x600") %>
                      
                          <div class="carousel-caption"> 
                              <h3 class="text-warning"> 
                                  Image 3 
                              </h3> 
                          </div> 
                      </div> 

                      <div class="carousel-item"> 
                         <%= image_tag("6.jpg", :alt => "GFG", :size => "800x600") %>
                      
                          <div class="carousel-caption"> 
                              <h3 class="text-warning"> 
                                  Image 5 
                              </h3> 
                          </div> 
                      </div> 


                      
                  </div> 
    
                  <a class="carousel-control-prev"
                     href="#GFG" 
                     data-slide="prev"> 
                      <span class="carousel-control-prev-icon"> 
                    </span> 
                  </a> 
                  <a class="carousel-control-next" 
                     href="#GFG" 
                     data-slide="next"> 
                      <span class="carousel-control-next-icon"> 
                    </span> 
                  </a> 
              </div> 
          </div> 
      </body> 




      <br>

















    <footer class="ftco-footer ftco-section bg-info text-info">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">AMOAVE.</h2>
              <p>Associação dos Moçambicanos
Residentes em Aveiro</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://twitter.com"><span class="fab fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="https://www.facebook.com/Amoave-109354353990110/"><span class="fab fa-facebook-f"></span></a></li>
                <li class="ftco-animate"><a href="https://www.instagram.com"><span class="fab fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Informação</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Empregos</a></li>
                <li><a href="#" class="py-2 d-block">Bolsas de Estudos</a></li>
                <li><a href="#" class="py-2 d-block">Oportunidades de Estágios</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                 <li class="nav-item"><%= link_to "AMOAVE", pages_amoave_path, class: 'nav-link'%> </li>
                <li><a href="/pages/estudantes.html" class="py-2 d-block">Estudantes</a></li>
                <li><a href="/pages/comunidade.html" class="py-2 d-block">Comunidade</a></li>
                <li><a href="/pages/contacto.htmls" class="py-2 d-block">Contactos</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Alguma Questão?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon icon-map-marker"></span><span class="text">Aveiro, Portugal</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+351 932281760</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">amoave.direcao@yahoo.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
              Copyright ©2019 All rights reserved | AMOAVE <i class="fas fa-heart" style="color:#BC1421"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>
